<html>
     <head>
            <title>KellyWeb</title> 
     </head>
     <body>
        <div>
            <p>hello Kelly's web for Simple Calc</p>
        </div>
        
        <div>
            <form  method="post">
                <div><p>data example: 56.7, 23.4, 55.67, 12.83, 5.67</p></div>
                <p>Data:  <input type="text" name="datatxt"></p>
                <p><input type="submit" value="Submit"></p>
            </form>

        </div>
        
        <div>
            <p>MIN: {{data_min_value}} </p>
        </div>
        
        
        <div>
            <a href='/'>Home<a>
        </div>
     </body>
</html>
